<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/72db12224a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Document</title>
</head>
<body class="bg-red-50">
    <div class="text-center font-sans">
        <h1 class="text-4xl font-bold  text-blue-300 py-12">Manage Your Wishes ⭐</h1>
        <h1 class="text-3xl text-blue-200">⛅<%=date %></h1>
    </div>

    <div class="text-2xl text-center text-blue-400 py-2 font-sans mt-6">
        <% for(let i = 0; i < myWish.length; i++) { %>
            <form action="/delete" method="POST">             
                <p>
                    <%= myWish[i].item %>&#160;&#160;&#160;&#160;
                    <button name="button" value="<%= myWish[i].id %>" onclick="this.form.submit()" 
                        class="transition duration-300 ease-in-out transform  hover:-translate-y-1 hover:scale-110 ... ">
                            <i class="fas fa-trash-alt"></i></button>
                </p>
            </form>
        <% } %>
    </div>

    <div class="text-2xl text-center text-blue-400 py-2 font-sans mt-6">
        <form action="/form" class="class" method="post">
            <input type="text" name="newWish" placeholder="Add New Wish" class="text-blue-200 placeholder-red-300 focus:placeholder-red-600 ..." >
            <button type="submit" class="transition duration-300 ease-in-out transform  hover:-translate-y-1 hover:scale-110 ... ">✔</button>
        </form>
    </div>
    
</body>
</html>
