<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/72db12224a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>WishList Admin <%=date %></h1>
    </div>

    <div class="box">
        <% for(let i = 0; i < myWish.length; i++) { %>
            <form action="/delete" method="POST">             
                <p>
                    <%= myWish[i].item %>&#160;&#160;&#160;&#160;
                    <button name="button" value="<%= myWish[i].id %>" onclick="this.form.submit()"><i class="fas fa-trash-alt"></i></button>
                </p>
            </form>
        <% } %>
    </div>

    <div class="box">
        <form action="/form" class="class" method="post">
            <input type="text" name="newWish" placeholder="Add New Wish">
            <button type="submit">+</button>
        </form>
    </div>
    
</body>
</html>
